<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:400,500,700"/>
    <link rel="stylesheet" href="css/preloader.css"/>

    <title>DoJugaad Products</title>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="browsectrl" ng-cloak>
<div id="SomeId">
<% include header %>
<!--    <div layout="row">
<!--        <div hide-sm flex-md="20" flex-gt-md="20" flex-lg="20" flex-gt-lg="20"></div>-->
<!--        <md-card flex>
            <md-card-content>
                <md-content>
                    <md-toolbar layout="row" layout-align="space-between center">
                        <span><h2 class="md-toolbar-tools">DoJugaad</h2> </span>
                        <span>
                            <md-button aria-label="Home Button" class="md-raised"> Home </md-button>
                            <md-button aria-label="Login Button" class="md-raised"> Login </md-button> 
                        </span>
                    </md-toolbar>
                </md-content>
            </md-card-content>
        </md-card>
    </div>-->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
        <md-toolbar md-theme="deep-orange">
            <h2 class="md-toolbar-tools"> This is the sidenav</h2>
        </md-toolbar>
        <md-content md-theme="deep-orange">
            <p> This is just some random stuff</p>
        </md-content>
    </md-sidenav>
    <div layout="row">
        <div hide-sm flex-md="20" flex-gt-md="20" flex-lg="20" flex-gt-lg="20"></div>
            <md-card flex>
                <md-card-content>
                    <md-content>
                        This is some other content.
                    </md-content>
                </md-card-content>
            </md-card>
    </div>
</div>    
</body>
</html>