<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:400,500,700"/>
   <link rel="stylesheet" href="css/preloader.css"/>
    <link rel="stylesheet" type="text/css" href="css/browse.css">

    <title>DoJugaad Products</title>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="browsectrl" ng-cloak>
<div id="someID">
<% include header %>
	<div flex class="md-toolbar-tools">
		Home > {{path}}
	</div>
	<div layout="row">
	    <div hide-sm flex-md="10" flex-gt-md="10" flex-lg="10" flex-gt-lg="10">
	    	<md-button class="md-button-toggle" ng-repeat="cats in catags" layout="row" ng-click="expand()">
	    		{{cats}}
	    	</md-button>
    	</div>
    	<div hide-sm flex-md="80" flex-gt-md="80" flex-lg="80" flex-gt-lg="80">
    		<md-card flex>
    			<md-card-content>
    				<md-list>
                        <md-list-item class="md-3-line">
                            <div flex class="md-whiteframe-z2" style="margin-bottom: 10px; width:30px;">
                            	<md-content class="md-padding" ng-cloak>
                            		<img src="images/NoImageAvailable.jpg">
                            		<h3>Some title</h3>
                            		<p>Some description</p>
                            	</md-content>
                            </div>
                        </md-list-item>
    				</md-list>
    			</md-card-content>
    		</md-card>
    	</div>
	</div>
</div> 
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>
<script src="bower_components/hammerjs/hammer.min.js"></script>
<script src="js/browse.js"></script>
</body>
</html>