<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css"/>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:400,500,700"/>
    <link rel="stylesheet" href="css/preloader.css"/>

    <title>DoJugaad Products</title>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="browsectrl" ng-cloak>
<div id="SomeId">

    <div layout="row">
<!--        <div hide-sm flex-md="20" flex-gt-md="20" flex-lg="20" flex-gt-lg="20"></div>-->
        <md-card flex>
            <md-card-content>
                <md-content>
                    <md-toolbar layout="row" layout-align="space-between centre">
                        <span><h2 class="Heading">DoJugaad</h2> </span>
                        <span>
                            <md-button aria-label="Home Button" class="md-raised"> Home </md-button>
                            <md-button aria-label="Login Button" class="md-raised"> Login </md-button> 
                        </span>
                    </md-toolbar>
                </md-content>

                <md-content>
                    <md-list>
                        <md-list-item class="md-3-line" ng-repeat="item in posts">

                            <div flex class="md-whiteframe-z2" style="margin-bottom: 10px;">
                                <md-content class="md-padding" ng-cloak>
                                    And something here.
                                </md-content>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-content>
            </md-card-content>
        </md-card>
    </div>
</div>    
</body>
</html>