<style>
    .avatar {
        width: 48px;
        margin: 16px;
        border-radius: 48px;
    }
</style>

<md-toolbar layout="row" class="md-whiteframe-z2" ng-cloak>
    <div class="md-toolbar-tools">
        <span class="md-flex"><a ng-href="/">DoJugaad</a></span>
        <span flex></span>


        <md-button  ng-href="/browse"  aria-label="Browse" class="md-raised md-cornered">
            Browse
        </md-button>
        <md-button  ng-href="/login"  aria-label="Login" class="md-raised md-warn">
        <md-icon md-svg-src="images/icons/account-circle.svg"></md-icon>
            Login
        </md-button>
    </div>
</md-toolbar>
